<section class="tweet">
  <section class="tweet__card">
    <div class="tweet__card__header">
      <div class="tweet__card__info">
        <div class="tweet-photo"></div>
        <div class="info-block">
          <p class="mat-caption">Name:</p>
          <p class="mat-h4">Example name</p>
          <p class="mat-caption">Created:</p>
          <p class="mat-h4">30.01.2019 <span class="time" >22:07</span></p>
          <p class="mat-caption">
            <span>Tags:</span>
            <span class="mat-caption card-tags">Sport</span>
            <span class="mat-caption card-tags">Life</span>
          </p>
        </div>
      </div>
      <div class="tweet__card__info">
        <div class="user-photo"></div>
        <div class="info-block">
          <p class="mat-caption">Name:</p>
          <p class="mat-h4">John Doe</p>
          <p class="mat-caption">Status:</p>
          <p class="mat-h4">Online</p>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="tweet__card__content">
      <p class="mat-body">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </div>
    <div class="tweet__card__actions">
      <button mat-icon-button>
        <mat-icon aria-label="Like">favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon style="font-size: 16px" aria-label="Delete">close</mat-icon>
      </button>
    </div>
  </section>
</section>