<section class="settings">
  <div class="settings__content">
    <form class="settings__block">
      <span class="mat-title">BIO</span>
      <mat-form-field class="settings__field">
        <input matInput placeholder="First name" value="John">
      </mat-form-field>
      <mat-form-field class="settings__field">
        <input matInput placeholder="Middle name" value="Middlename">
      </mat-form-field>
      <mat-form-field class="settings__field">
        <input matInput placeholder="last name" value="Doe">
      </mat-form-field>
      <button mat-stroked-button>Save</button>
    </form>
    <form class="settings__block">
      <span class="mat-title settings__title">Password</span>
      <mat-form-field class="settings__field">
        <input matInput placeholder="Current password" value=" ">
      </mat-form-field>
      <mat-form-field class="settings__field">
        <input matInput placeholder="New password" value=" ">
      </mat-form-field>
      <mat-form-field class="settings__field">
        <input matInput placeholder="Verify password" value=" ">
      </mat-form-field>
      <button mat-stroked-button>Save</button>
    </form>
    <div class="settings__group-block">
      <form class="settings__block">
        <span class="mat-title settings__title">Email</span>
        <mat-form-field class="settings__field">
          <input matInput placeholder="Email" value="srsche01@gmail.com">
        </mat-form-field>
        <button mat-stroked-button>Save</button>
      </form>
      <form class="settings__block">
        <span class="mat-title settings__title">Images</span>
        <div class="settings__images">
          <p class="mat-subheading-2">Add a profile photo</p>
          <button mat-stroked-button>Open file</button>
        </div>
      </form>
    </div>
  </div>
</section>