<section class="tag-settings">
  <form class="tag-settings__form">
    <mat-form-field>
      <input class="add-tweet__input" matInput maxlength="20" placeholder="Input tag name..">
    </mat-form-field>
    <button mat-raised-button color="primary">Add</button>
  </form>
  <div class="tag-settings__tags">
    <div class="tag-settings__remove-item">
      <p class="mat-h4">Tag</p>
      <button mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="tag-settings__remove-item">
      <p class="mat-h4">Tag</p>
      <button mat-icon-button>
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

  </div>
</section>