<header></header>
<section class="profile">
    <div class="profile__content">
        <div class="profile__info">
            <div class="left-box">
                <div class="profile__avatar user-photo"></div>
                <div class="profile__reg-info">
                    <p class="mat-subheading-1">Registration date: <span>30.01.2018 22:04</span></p>
                    <p class="mat-subheading-1">Last activity date: <span>28.04.2019 17:56</span></p>
                </div>
            </div>
            <div class="right-box profile__fiealds">
                <div class="profile__fiealds__fieald">
                    <span class="mat-caption">First name:</span>
                    <span class="mat-h1 mat-resp">John</span>
                </div>
                <div class="profile__fiealds__fieald">
                    <span class="mat-caption">Middle name:</span>
                    <span class="mat-h1 mat-resp">Middlename</span>
                </div>
                <div class="profile__fiealds__fieald">
                    <span class="mat-caption">Last name:</span>
                    <span class="mat-h1 mat-resp">Doe</span>
                </div>
                <div class="profile__fiealds__fieald">
                    <span class="mat-caption">Email:</span>
                    <span class="mat-h1 mat-resp">srsche01@gmail.com</span>
                </div>
            </div>
        </div>
        <settings></settings>
    </div>
</section>
<footer></footer>