<header></header>
<section class="search">
  <div class="search__tag-box">
    <section class="search__tags">
      <button mat-button class="btn-tags"># <span class="mat-caption">People</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Nature</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">2019</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Сulture</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Music</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Fashion</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Sport</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Life</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Girls</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Friends</span></button>
    </section>
  </div>
  <div class="wrapper">
    <div class="search__string">
      <input class="search__input mat-subheading-1" placeholder="Input your text..">
      <button mat-button color="primary">Search</button>
    </div>
    <div class="search__content">
      <section class="search__tw-container">
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
      </section>
      <div class="paginator mat-h3">
        <button mat-button>Prew</button>
        <span>. . .</span>
        <button mat-button>Next</button>
      </div>
    </div>
  </div>
</section>
<footer></footer>