<header></header>
<section class="tweets">
  <div class="tweets__head-box">
    <section class="tweets__tags">
      <button mat-button class="btn-tags"># <span class="mat-caption">People</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Nature</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">2019</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Сulture</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Music</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Fashion</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Sport</span></button>
      <button mat-button class="btn-tags"># <span class="mat-caption">Life</span></button>
    </section>
    <section class="tweets__sort">
      <button mat-button color="primary" [matMenuTriggerFor]="menu" class="btn-sort">
        <mat-icon>keyboard_arrow_down</mat-icon>
        <span class="mat-caption">Sort by</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Name</button>
        <button mat-menu-item>Author</button>
        <button mat-menu-item>Date</button>
        <button mat-menu-item>Updated</button>
        <button mat-menu-item>Tags</button>
      </mat-menu>
    </section>
  </div>
  <div class="wrapper">
    <div class="tweets__content">
      <section class="tweets__container">
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
      </section>
      <div class="paginator mat-h3">
        <button mat-button>Prew</button>
        <span>. . .</span>
        <button mat-button>Next</button>
      </div>
    </div>
  </div>
</section>
<footer></footer>