<header></header>
<section class="tweets">
    <div class="tweets__content">
      <section class="tweets__container">
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
        <tweet class="tw-size"></tweet>
      </section>
      <div class="paginator mat-h3">
        <button mat-button>Prew</button>
        <span>. . .</span>
        <button mat-button>Next</button>
      </div>
    </div>
  <button mat-icon-button  (click)="openDialog()" class="add-tweet">
    <mat-icon aria-label="">edit</mat-icon>
  </button>
</section>
<footer></footer>